<app-topo></app-topo>

<div class="content" role="main">

  <section class="section section-cadastro">
    <div class="container pt-5 pb-5">
      <h1 class="title-section mb-5">Cadastrar Veículo</h1>
      <form>
         <div class="form-group mb-3">
            <label for="nome_carro_cadastro">Nome do Carro</label>
            <input placeholder="Ex: Onix" type="text" id="nome_carro_cadastro" class="form-control">
          </div>
          <div class="form-group mb-3">
            <label for="ano_carro_cadastro">Ano do Carro</label>
            <input placeholder="Ex: 2018" type="number" id="ano_carro_cadastro" class="form-control">
          </div>
          <div class="form-group mb-3">
            <label for="preco_carro_cadastro">Preço limite de compra</label>
            <input placeholder="Ex: 40000" type="number" id="preco_carro_cadastro" class="form-control">
          </div>
          <div class="text-center pt-4">
            <button class="btn btn-outline-secondary">Cadastrar Veículo</button>
          </div>
      </form>
    </div>
  </section>

  <!-- Footer -->
  <app-rodape></app-rodape>
  <!-- FIM Footer-->

</div>
