<header class="topo">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <figure class="logo-rodape logo">
                    <img class="img-fluid" src="./assets/logo.jpg" alt="Logo Aquisicao Veiculos">
                </figure>
            </div>
            <div class="col-lg-8">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                      <a class="nav-link active" href="#">{{menuItemUm}}</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">{{menuItemDois}}</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">{{menuItemTres}}</a>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link btn btn-danger" type="button" (click)="onClick()">{{menuItemQuatro}}</button>
                    </li>
                  </ul>
            </div>
        </div>
    </div>
</header>