<div class="content" role="main">

  <div class="form-login">
    <form>
      <h1 class="mb-5" style="font-size:19px !important;">
        Olá, seja bem vindo(a) à Aplicação de Aquisição de Veículos.
      </h1>
      <div class="form-group mb-3">
        <label for="login_landpage">Usuário</label>
        <input placeholder="Ex: Teste" type="text" id="login_landpage" class="form-control">
      </div>
      <div class="form-group mb-3">
        <label for="senha_landpage">Senha</label>
        <input placeholder="Ex: 123" type="password" id="senha_landpage" class="form-control">
      </div>
      <div class="text-center">
        <button class="btn btn-success">Logar</button>
      </div>
    </form>
  </div>
</div>
