<app-topo></app-topo>

<div class="content" role="main">

  <section class="section section-carros">
    <div class="container">
      <h1 class="title-section mb-5">Carros</h1>
      <div class="row">
        <!-- REPETE -->
        <div class="col-lg-3">
          <div class="card-carro">
            <figure>
              <img class="img-fluid" src="./assets/celta.jpg" alt="card-carro">
            </figure>
            <div class="card-carro__content">
              <h2>Celta 2015</h2>
              <h3>Preço <span>R$30,000.12</span></h3>
            </div>
          </div>
        </div>
        <!-- FIM REPETE -->
        <!-- REPETE -->
        <div class="col-lg-3">
          <div class="card-carro">
            <figure>
              <img class="img-fluid" src="./assets/etios.jpg" alt="card-carro">
            </figure>
            <div class="card-carro__content">
              <h2>Etios 2017</h2>
              <h3>Preço <span>R$58,200</span></h3>
            </div>
          </div>
        </div>
        <!-- FIM REPETE -->
      </div>
      <div class="text-center">
        <a style="color:#FFF !important;" class="btn btn-info" routerLink="/app-cadastro-page">Cadastrar Veículo</a>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <app-rodape></app-rodape>
  <!-- FIM Footer-->

</div>
