<header class="topo">
  <span class="bg-menu" (click)="desaparecerMenu()"></span>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4">
        <figure class="logo-rodape logo">
          <a class="nav-link active" routerLink="/app-home">
            <img class="img-fluid" src="./assets/logo.jpg" alt="Logo Aquisicao Veiculos">
          </a>
        </figure>
      </div>
      <div class="col-lg-8">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/app-home">{{menuItemUm}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/app-sobre-page">{{menuItemDois}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/app-cadastro-page">{{menuItemTres}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-danger" routerLink="/app-land-page">{{menuItemQuatro}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mbl-controls d-none">
    <figure class="logo-rodape logo">
      <img class="img-fluid" src="./assets/logo.jpg" alt="Logo Aquisicao Veiculos">
    </figure>
    <button type="button" (click)="abrirMenu()" class="btn-responsivo">
      <span class="bars"></span>
    </button>
  </div>
</header>
